<!DOCTYPE html>
<html>

  <head>
    <title><%= @title %></title>
    <%= csrf_meta_tag %>
    <%= stylesheet_link_tag 'base', 'reset', :media => 'screen' %>
  </head>

  <body>

    <%= render 'layouts/header' %>

    <div class="middle">
      <section class="board">
        <% flash.each do |key, value| %>
          <div class="flash <%= key %>"><%= value %></div>
        <% end %>
        <%= yield %>
      </section>
      <section class="menu">
        <%= render 'layouts/login' %>
        <%= render 'layouts/likes' %>
        <%= render 'layouts/search' %>
        <%= render 'layouts/navigation' %>
        <%= render 'layouts/tags' %>
      </section>
    </div>

    <%= render 'layouts/footer' %>
    <%= debug(params) if Rails.env.development? %>

  </body>
</html>
